.ideasList {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  gap: 45px;

  .idea {
    width: 70%;
    height: 60%;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 4.25px 0.75px rgba(0, 0, 0, 0.13);
  }
}
