.idea {
  display: flex;
  align-items: flex-start;
  margin: 110px 0;
  gap: 25px;
  .idea__title {
    img {
      width: 90%;
    }

    h2 {
      font-size: 36px;
    }
  }

  .idea__content {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 50px;

    p {
      color: #4a4e69;
      font-weight: 700;
      font-size: 18px;
    }

    span {
      color: #4a4e69;
      font-weight: 500;
      font-size: 18px;
    }
  }
}
