.customButton {
  border: none;
  background-color: #ffb400;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  font-size: 15px;
  letter-spacing: 2px;
  transition: .3s;
}
.customButton:hover {
  background-color: #399E5A;
}

