* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}


h1,
h2,
h3,
h4,
h5,
h6,
b,
a,
p,
span,
li,
ul,
input,
pre {
  text-decoration: none;
  list-style: none;
  font-family: "Nunito", sans-serif;
  font-style: normal;
}
